%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        pm => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::pm',
            },
        },
    },
);

%Image::ExifTool::UserDefined::pm = (
    GROUPS      => { 0 => 'XMP', 1 => 'XMP-pm', 2 => 'Image' },
    NAMESPACE   => { 'pm' => 'http://ns.photo-manager.app/1.0/' },
    WRITABLE    => 'string',
    FilmStock   => { },
);

1;
